﻿<!DOCTYPE html>
<html >
<head>
    <!-- -------------- Meta and Title -------------- -->
    <meta charset="utf-8" />
    <title>AMES Enterprise Business Applications</title>
    <meta name="keywords" content="AMES United Enterprise Business Applications" />
    <meta name="description" content="AMES United Enterprise Business Applications. A Responsive HTML5 UI Angular Framework">
    <meta name="author" content="AMES-IT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewBag.Title</title>*@
    <title>AMES EBA</title>

    <!-- -------------- Fonts -------------- -->
    @*<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>*@
    <script type="text/javascript">
          WebFontConfig = {
              google: { families: ['Lato:400,300,700,300italic,400italic,700italic:latin', 'Open+Sans:400,300,600,700:latin'] },
              timeout: 2000
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })();
    </script>


    <!-- -------------- Favicon -------------- -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon.png">

    <base href="/">

</head>

@RenderBody()

</html>
