﻿<body layout="column">
    <div ng-app="index" class="container">
        @*<div ng-controller="defaultCtrl">*@
        @*<div layout="row" flex layout-align="center center">*@
        @Styles.Render("~/Content/css-bootstrap")
        @Styles.Render("~/Content/css/access")
        @*@Styles.Render("~/Content/css-ng-material")*@
        @*@Scripts.Render("~/bundles/jquery")*@
        <script src="/assets/js/jquery/jquery-1.11.3.min.js"></script>
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/ng-route")
        @Scripts.Render("~/bundles/ng-animate")
        @Scripts.Render("~/bundles/ng-aria")
        @*@Scripts.Render("~/bundles/ng-material")*@
        @Scripts.Render("~/bundles/bootstrap")
        <script>
                angular.module('index', []);
        </script>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">iBUDGET</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        @*<li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>*@
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>*@
                        <li><a href="home/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="panel panel-primary">
            <h3 class="panel-heading">Welcome to this site.</h3>
            <div class="jumbotron">
                <h1>AngularJS / Bootstrap / ASP.NET MVC Framework</h1>
                <p>
                    Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
                    mobile-first projects on the web.
                </p>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AMES UNITED - iBUDGET Application</p>
        </footer>
    </div>
</body>
