﻿@*<body layout="column" ng-app="zPage_Home_Login">*@
<body class="utility-page sb-l-c sb-r-c" ng-app="zPage_Home_Login">
    @*<div layout="row" flex layout-align="center center" ng-controller="loginCtrl">*@
    <!-- -------------- Body Wrap  -------------- -->
    <div id="main" class="animated fadeIn" ng-controller="loginCtrl">

        @*@Styles.Render("~/Content/css-bootstrap")
            @Styles.Render("~/Content/css/access")
            @Styles.Render("~/Content/css-ng-material")*@
        @Styles.Render("~/Content/css/themeStyle")
















        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/ng-route")
        @*@Scripts.Render("~/bundles/ng-animate")
        @Scripts.Render("~/bundles/ng-aria")
        @Scripts.Render("~/bundles/ng-message")
        @Scripts.Render("~/bundles/ng-material")
        @Scripts.Render("~/bundles/ui-bootstrap")
        @Scripts.Render("~/bundles/ui-bootstrap-tpl")*@
        @Scripts.Render("~/bundles/login")


        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")*@
        <script src="/assets/js/jquery/jquery-1.11.3.min.js"></script>
        <script src="/assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>
        @Scripts.Render("~/bundles/canvasbg")
        @Scripts.Render("~/bundles/themeScripts")

        @{
            ViewBag.Title = "Login";
        }
        @model IHtmlString
        <script>
            angular.module("zPage_Home_Login").value("zVal_AccessTo", @Html.Raw(Model));
        </script>
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>
        <div ng-view></div>

    </div>


    
</body>
